.music-player{
	height:37px;
	border:2px solid #151313;
	margin-top:10px;
	@include border-radius(5px);
	@include background-image(linear-gradient(#5E5E5E,#232323 2%,black));
	-webkit-transition: all 1s ease;
}

.music-player .x-innerhtml{
	margin:0;
	background:none;
	padding:0;
    white-space: nowrap;
}

.music-player-timer{
	display:inline-block;
	vertical-align: top;
	width:60px;
	height:20px;
	@include background-image(linear-gradient(#99ffff,#6adcf3));
	@include text-shadow(none);
	@include border-radius(5px);
	text-align:center;
	margin:7px 10px 5px 5px;
	font-size:0.4em;
	font-weight:normal;
	padding:0 5px;
	line-height:20px;
	color:#000;
	text-shadow: 0px 1px white;
}
.music-player-button{
	display:inline-block;
	vertical-align: top;
	width:11px;
	height:10px;
	background:transparent url(../images/play-pause.png) 0 0 no-repeat;
	margin:10px 5px 10px 10px;
	-webkit-transition: background-position .2s ease;
}
.music-player-paused .music-player-button{
	background-position:0 -10px;
}
.music-player-title{
	font-family: "Helvetica Neue", sans-serif;
	display: inline-block;
	vertical-align: top;
	font-size: 13px;
	font-weight:bold;
	line-height:30px;
	color:#77c3c3;
	text-shadow: 0px 1px #000;
	width: auto;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;	
}
