$red-color: #982C2E;
$base-color: #444444;
$base-font: 'nevisBold';
$alt-font: 'JuraRegular';

//Genre colors
$rockpopfolk-background-color-light:rgba(255, 204, 0, 1.0);
$rockpopfolk-background-color-dark:rgba(255, 167, 0, 1.0);

$folk-background-color-light:rgba(11, 54, 134, 1.0);
$folk-background-color-dark:rgba(4, 37, 100, 1.0);

$classical-background-color-light:rgba(102, 204, 0, 1.0);
$classical-background-color-dark:rgba(102, 171, 32, 1.0);

$concerts-background-color-light:rgba(97, 106, 74, 1.0);
$concerts-background-color-dark:rgba(70, 77, 53, 1.0);

$jazzblues-background-color-light:rgba(51, 204, 255, 1.0);
$jazzblues-background-color-dark:rgba(22, 153, 196, 1.0);

$world-background-color-light:rgba(102, 44, 145, 1.0);
$world-background-color-dark:rgba(57, 16, 87, 1.0);

$hiphoprb-background-color-light:rgba(255, 0, 255, 1.0);
$hiphoprb-background-color-dark:rgba(166, 18, 166, 1.0);

$rock-background-color-light: rgba(99, 99, 99, 1.0);
$rock-background-color-dark: rgba(33, 33, 33, 1.0);

$electronicdance-background-color-light: rgba(33, 33, 33, 1.0);
$electronicdance-background-color-dark: rgba(0, 0, 0, 1.0);

$latinalternative-background-color-light: rgba(188, 60, 38, 1.0);
$latinalternative-background-color-dark: rgba(137, 42, 27, 1.0);

$studiosessions-background-color-light: rgba(43, 113, 82, 1.0);
$studiosessions-background-color-dark: rgba(14, 87, 65, 1.0);

@import 'sencha-touch/default/all'; 

@include sencha-panel;
@include sencha-buttons;
@include sencha-sheet;
@include sencha-picker;
/*@include sencha-tabs;*/
@include sencha-toolbar;
@include sencha-toolbar-forms;
@include sencha-indexbar;
@include sencha-list;
/*@include sencha-list-paging;*/
/*@include sencha-list-pullrefresh;*/
@include sencha-layout;
@include sencha-carousel;
@include sencha-form;
@include sencha-msgbox;
@include sencha-loading-spinner;

@import 'include/animate';
@import 'include/shortcuts';
@import 'include/home';
@import 'include/article';
@import 'include/drawer';
@import 'include/search';
@import 'include/donate';
@import 'include/player';
@import 'include/toc';
@import 'include/favorites';

// include our @font-faces
@import 'include/fonts';