.music-favorites-article{
	float:left;
	position:relative;
	margin:5px;
	width:246px;
	height:246px;
	background-size: cover;
	background-position: center center;
    background-repeat: no-repeat;
    border:2px solid #000;
    @include border-radius(5px);
}

.music-favorites-article h2{
	position:absolute;
	bottom:0;
	width:100%;
	min-height:50px;
	color:#fff;
	padding:10px;
	@include background-image(linear-gradient(color-stops(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.75))));
	font-family: $base-font;
	font-size:0.6em;
}

.music-favorites-remove{
	position:absolute;
	top:-10px;
	right:-10px;
	width:20px;
	height:20px;
	background-color:red;
}