.music-favorites { 
	background: url('../images/article-view-sidebar-bg.png');
}

.music-favorites-article{
	float:left;
	position:relative;
	margin: 15px;
	width: 225px;
	height: 225px;
	background-size: cover;
	background-position: center center;
  background-repeat: no-repeat;
  @include border-radius(5px);
	border: 1px solid rgba(255, 255, 255, 0.1);
	-webkit-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 0px 5px 6px #000;    
}

.music-result-article h2{
	position:absolute;
	bottom:0;
	width:100%;
	min-height:50px;
	color:#fff;
	padding:10px;
	@include background-image(linear-gradient(color-stops(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.75))));
	font-size:0.8em;
	font-weight: bold;
}

.music-favorites-remove{
	position: absolute;
	top: -10px;
	right: -10px;
	width: 40px;
	height: 40px;
	color: white;
	text-align: center;
	padding-top: 9px;
	font-weight: bold;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#C31508), to(#780C04));
	background-image: -webkit-linear-gradient(top, #C31508, #780C04);
	-webkit-border-radius: 13px;
	-webkit-border-bottom-left-radius: 0;
	text-shadow: 0px 1px #780C04;
	box-shadow: -4px 3px 7px rgba(0,0,0,0.5);
	border: 1px solid #C31508;
}

.x-msgbox-inner strong {
	font-weight: bold;
}