/************************************
 *	GLOBAL TOC
 ************************************/

.global-toc{
	@include background-image(linear-gradient(color-stops(#1a1a1a 80%,#262626)));

	.global-toc-featured-story {
		.x-innerhtml {
			height:400px;
		}
		.global-toc-featured-image {
				position:relative;
				height:100%;
				background-size: cover;
				background-position: center top;
		    	background-repeat: no-repeat;

			div {
				@include background-image(linear-gradient(color-stops(rgba(255, 255, 255, .8), rgba(255, 255, 255, 1))));
				float:left;
				padding:5px 15px;
				color:#222;
				font-family: $base-font;
				font-size:0.85em;
				text-transform:uppercase;
			}
			h2{
				@include background-image(linear-gradient(color-stops(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.90))));
				position:absolute;
				color:#fff;
				padding: 15px 20px;
				font-size: 1.5em;
				width:100%;
				font-family: $base-font;
				font-weight:normal;
				bottom:0;
			}
		}
		.global-toc-featured-content{
			background: none;
			color:#fff;
			line-height:1.6em;
			padding: 10px 20px;
			font-size: 17px;
			font-family: "Georgia", sans-serif;
		}
		.global-toc-about{
			@include border-radius(5px);
			background-color:#2d2d2d;
			color:#999;
			line-height:1.5em;
			padding:15px 20px;
			margin:15px 0 0 15px;
			font-size: 13px;
		}
	}
}


@mixin global-toc($genre, $bg-color1, $bg-color2){
	.global-toc{
		.global-toc-right-sidebar { 
			border-left: 10px solid rgba(0, 0, 0, 1);
		}
		.global-toc-genre-#{$genre}{
			background: #1a1a1a;

			.global-toc-genre-image{
			   	 position:relative;
				 height: 250px;
				 background-size: cover;
				 background-position: center center;
		     	 background-repeat: no-repeat;

				h2 {
					@include background-image(linear-gradient(color-stops($bg-color1, $bg-color2)));
					text-shadow: 0px 2px rgba(0, 0, 0, .9);
					border: 2px solid rgba(255, 255, 255, .5);
					box-shadow: 0px 6px 5px rgba(0, 0, 0, .65);
					color:#fff;
					font-family: $base-font;
					text-shadow: 0px 1px darken($bg-color2, 20);
					font-size:0.85em;
					text-transform:uppercase;
					padding: 10px;
					text-align: center;
					margin-bottom: 10px;
				}

				h3 {
					@include background-image(linear-gradient(color-stops(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.90))));
					text-shadow: 0px 2px rgba(0, 0, 0, .9);
					font-family: $base-font;
					position:absolute;
					width:100%;
					bottom:0;
					color:#fff;
					font-size:1em;
					padding:15px 20px;
				}
			}

			p {
				font-size:0.85em;
				text-shadow: 0px 2px rgba(0, 0, 0, .9);
				font-weight: bold;
				padding: 12px 20px;
				color:#ccc;
			} &:last-child{
				//margin-bottom:30px;
			}

			.global-toc-article-pressed{
				background-color:darken($bg-color1,25);
			}
		}
	}
}

@include global-toc('rockPopFolk', rgba(255, 204, 0, 1.0), rgba(255, 167, 0, 1.0));
@include global-toc('classical', rgba(102, 204, 0, 1.0), rgba(102, 171, 32, 1.0));
@include global-toc('jazzBlues', rgba(51, 204, 255, 1.0), rgba(22, 153, 196, 1.0));
@include global-toc('world', rgba(102, 44, 145, 1.0), rgba(57, 16, 87, 1.0));
@include global-toc('hipHopRB', rgba(255, 0, 255, 1.0), rgba(166, 18, 166, 1.0));


/************************************
 *	GENRE TOC
 ************************************/
@mixin genre-toc($genre, $bg-color1, $bg-color2){
	.genre-toc-featured-#{$genre}{
			position:relative;
			height: 305px;
			border: 6px solid #000;
			background-size: cover;
			background-position: center top;
	    background-repeat: no-repeat;
	    h2 {
				background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.65)), color-stop(100%, rgba(0, 0, 0, 0.9)));
				background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.65),rgba(0, 0, 0, 0.9));
				background-image: linear-gradient(rgba(0, 0, 0, 0.65),rgba(0, 0, 0, 0.9));
				position: absolute;
				color: white;
				padding: 15px 20px;
				font-size: 1.5em;
				width: 100%;
				font-family: $base-font;
				font-weight: normal;
				bottom: 0;
	    }
	    h3 {
	    	@include background-image(linear-gradient(color-stops($bg-color1, $bg-color2)));
	    	@include single-box-shadow(rgba(0, 0, 0, .5), 0px, 2px, 2px, 0px, false);
	    	border: 2px solid rgba(255, 255, 255, .5);
	    	position:absolute;
	    	top:10px;
	    	left:0;
	    	color:#fff;
	    	font-size:1.2em;
				padding:20px 40px;
				color: #fff;
				font-size: 1.1em;
				font-family: $base-font;
				text-transform: uppercase; 			
				text-shadow: 0px 1px darken($bg-color2, 20);
	    }
	}

 	.genre-toc-story {
    	p {
				font-size: .7em;
				line-height: 1.8em;
				padding: 4px 4px;
	 	}
	 	.genre-toc-story-image-#{$genre} {
 			position:relative;
 			height:308px;
 			background-size: cover;
			background-position: center top;
	    background-repeat: no-repeat;
	    border: 6px solid black;

	 		h3 {
		    	@include background-image(linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.8)));
		    	position:absolute;
		    	bottom: 0px;
		    	left:0;
		    	color:#fff;
		    	font-size: .85em;
		    	height: 76px;
		    	width: 100%;
		    	padding: 10px;
					color: #fefefe;
					font-weight: bold;					
	 		}
 		}
	}
	.genre-toc-story:first-child{
		margin:0;
	}
}

@include genre-toc('rockPopFolk', rgba(255, 204, 0, 1.0), rgba(255, 167, 0, 1.0));
@include genre-toc('classical', rgba(102, 204, 0, 1.0), rgba(102, 171, 32, 1.0));
@include genre-toc('jazzBlues', rgba(51, 204, 255, 1.0), rgba(22, 153, 196, 1.0));
@include genre-toc('world', rgba(102, 44, 145, 1.0), rgba(57, 16, 87, 1.0));
@include genre-toc('hipHopRB', rgba(255, 0, 255, 1.0), rgba(166, 18, 166, 1.0));