$red-color: #982C2E;
$base-color: #444444;
$base-font: 'nevisBold';
$alt-font: 'JuraRegular';


/*
    8.9"
        width         : 800px
        height        : 1193px

        device-width  : 1200px
        device-height : 1920px

    7"
        width         : 533px
        height        : 778px

        device-width  : 800px
        device-height : 1280px
*/

//$kindle-fire : "all and (max-device-width: 533px) and (max-device-height: 778px)";
//$kindle-hd-7i : "screen and (min-width: 517px) and (min-height: 778px)";
//$kindle-hd-8i : "screen and (min-width: 784px) and (max-height: 1193px)";
//$kindle-fire : "screen and (max-width: 600px) and (max-height: 924px)";
$kindle-hd-7i : "screen and (min-width: 533px) and (min-height: 778px)";
$kindle-hd-8i : "screen and (min-width: 784px) and (max-height: 1193px)";
//
//Genre colors

$jazzblues-background-color-light:rgba(102, 45, 145, 1.0);
$jazzblues-background-color-dark:rgba(102, 45, 145, 1.0);

$rock-background-color-light:rgba(85, 156, 6, 1.0);
$rock-background-color-dark:rgba(85, 156, 6, 1.0);

$classical-background-color-light:rgba(245, 101, 34, 1.0);
$classical-background-color-dark:rgba(245, 101, 34, 1.0);

$world-background-color-light:rgba(102, 44, 145, 1.0);
$world-background-color-dark:rgba(102, 44, 145, 1.0);

$hipHop-background-color-light:rgba(0, 84, 166, 1.0);
$hipHop-background-color-dark:rgba(0, 84, 166, 1.0);


$latinalternative-background-color-light: rgba(227, 220, 30, 1.0);
$latinalternative-background-color-dark: rgba(227, 220, 30, 1.0);

// 0, 1941, 243
$electronicdance-background-color-light: rgba(33, 33, 33, 1.0);
$electronicdance-background-color-dark: rgba(10, 10, 10, 1.0);

$pop-background-color-light:rgba(236, 0, 140, 1.0);
$pop-background-color-dark:rgba(236, 0, 140, 1.0);


$country-background-color-light: rgba(255, 191,53, 1.0);
$country-background-color-dark: rgba(255, 191,53, 1.0);

$rnb-background-color-light: rgba(188, 72, 185, 1.0);
$rnb-background-color-dark: rgba(188, 72, 185, 1.0);

// is FOLK used?!??
$folk-background-color-light:rgba(11, 54, 134, 1.0);
$folk-background-color-dark:rgba(4, 37, 100, 1.0);

@import 'sencha-touch/default/all';

@include sencha-panel;
@include sencha-buttons;
@include sencha-sheet;
@include sencha-picker;
/*@include sencha-tabs;*/
@include sencha-toolbar;
@include sencha-toolbar-forms;
@include sencha-indexbar;
@include sencha-list;
/*@include sencha-list-paging;*/
/*@include sencha-list-pullrefresh;*/
@include sencha-layout;
@include sencha-carousel;
@include sencha-form;
@include sencha-msgbox;
@include sencha-loading-spinner;

@import 'include/animate';
@import 'include/shortcuts';
@import 'include/station_detail';
@import 'include/home';
@import 'include/article';
//@import 'include/drawer';
@import 'include/search';
@import 'include/donate';
@import 'include/player';
@import 'include/toc';
@import 'include/favorites';

// include our @font-faces
@import 'include/fonts';

