/*********************************
*
* Styles for the cover
*
*********************************/

.article-carousel-tap-target {
    height : 150px;
    width  : 250px;
    -webkit-box-orient  : horizontal;

    @media #{$kindle-fire} {
        height : 160px;
        width  : 200px;
        //border : 1px dashed #F00;
    }

    @media #{$kindle-hd-7i} {
        height              : 125px;
        width               : 200px;
        //border: 1px solid #0F0;
    }

    @media #{$kindle-hd-8i} {
        height : 210px;
        width  : 250px;
        //border: 1px solid #00F;
    }

}

.article-carousel-image {
    background-repeat   : no-repeat;
    background-size     : cover;
    background-position : center center;
    height              : 150px;
    width               : 250px;

    @media #{$kindle-fire} {
        height : 175px;
        width  : 200px;
        //border : 1px solid #F00;
    }
    @media #{$kindle-hd-7i} {
        height              : 125px;
        width               : 200px;
        //border: 1px solid #0F0;
    }

    @media #{$kindle-hd-8i} {
        height              : 200px;
        width               : 250px;
        //border: 1px solid #00F;
    }
}

.article-carousel .x-innerhtml {
   display:-webkit-box;
}

.article-carousel-title {
    text-transform: uppercase;
    padding-left: 10px;
    color: #FFF;
    width: 100%;
}


@mixin article-category($category, $bg-color1, $bg-color2){
    .article-carousel-title-#{$category} {
        @include background-image(linear-gradient($bg-color1, $bg-color2));
    };

    .article-carousel-image-#{$category} {
        border-left: 1px solid $bg-color1;
        border-right: 1px solid $bg-color1;
    }


    .music-article-preview {
        // the 'genre flag' in the cover flow
        .music-article-category {
            float                              : left;
            border                             : 2px solid rgba(255, 255, 255, .5);
            border-left                        : none;
            -webkit-border-top-right-radius    : 10px;
            -webkit-border-bottom-right-radius : 10px;
            h1 {
                padding        : 20px 40px;
                color          : #fff;
                font-size      : 1.8em;
                text-align     : center;
                font-family    : $base-font;
                text-transform : uppercase;
            }
        }

        // we'll style these based on the genre colors
        .music-article-#{$category} {
            @include background-image(linear-gradient($bg-color1, $bg-color2));
            @include single-text-shadow(darken($bg-color2, 15), 0px, 1px, 1px);
            @include single-box-shadow(rgba(0, 0, 0, .5), 0px, 2px, 2px, 0px, false);
        }

        // full article page gets the same colors as the genre cover for the title
        .music-article-full-#{$category} {
            .image {
                background-repeat : no-repeat;
                height            : 280px;
                position          : relative;
            }
            .title {
                @include background-image(linear-gradient($bg-color1, $bg-color2));
                @include single-text-shadow(darken($bg-color2, 15), 0px, 1px, 1px);
                @include single-box-shadow(rgba(0, 0, 0, .5), 0px, 2px, 2px, 0px, false);
                position : absolute;
                left     : 0px;
                top      : 320px;
                h1 {
                    color       : #fff;
                    font-family : $base-font;
                    font-weight : 500;
                    font-size   : 32px;
                    padding     : 20px;
                }
            }
            .text {
                float      : left;
                width      : 700px;
                background : #fff;
                padding    : 20px;
                @include single-box-shadow(rgba(0, 0, 0, .5), 0px, 2px, 2px, 0px, false);
                p {
                    font-family   : $alt-font;
                    font-size     : 18px;
                    line-height   : 26px;
                    margin-bottom : 15px;
                }
            }
            .controls {
                float      : left;
                width      : 150px;
                height     : 300px;
                margin     : 20px 30px 0px 30px;
                background : #ccc;
                @include border-radius(10px);
                @include single-box-shadow(rgba(0, 0, 0, .5), 0px, 2px, 2px, 0px, false);
            }
        }

        .music-article-title {
            position : absolute;
            left     : 20px;
            right    : 20px;
            bottom   : 90px;
            overflow : hidden;
            height   : 130px;

            @media screen and (orientation: portrait) {
                height : 210px;
            } @include border-radius(10px);
            @include background-image(linear-gradient(color-stops(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.70))));

            .music-content-all {
                position : relative;
                height   : 100%;
            }

            .music-article-title-bg {
                position : absolute;
                height   : 100%;
                width    : 100%;
                padding  : 30px 25px;
            }

            .music-article-title-content {
                position : absolute;
                padding  : 30px 25px;
                width    : 100%;

                h2 {
                    color       : #fff;
                    font-size   : 1.9em;
                    font-family : $base-font;
                    @include opacity(1);
                }
                .music-article-btn {
                    float       : right;
                    @include opacity(1);
                    @include border-radius(10px);
                    border      : 2px solid rgba(255, 255, 255, .5);
                    padding     : 20px 30px;
                    margin-left : 50px;
                    color       : #fff;
                    font-family : $base-font;
                    font-size   : 1.4em;
                    em {
                        font-family : $alt-font;
                        font-weight : 100;
                        font-size   : 27px;
                    }
                }

                .music-article-btn-#{$category} {
                    @include background-image(linear-gradient($bg-color1, $bg-color2));
                }

                .music-article-btn-pressed-#{$category} {
                    border : 2px solid rgba(255, 255, 255, .3);
                    @include background-image(linear-gradient($bg-color2, $bg-color1));
                }
            }
        }
    }
}

@include article-category('rock', $rock-background-color-light, $rock-background-color-dark);
@include article-category('classical', $classical-background-color-light, $classical-background-color-dark);
@include article-category('jazzBlues', $jazzblues-background-color-light, $jazzblues-background-color-dark);
@include article-category('world', $world-background-color-light, $world-background-color-dark);
@include article-category('hipHop', $hipHop-background-color-light, $hipHop-background-color-dark);
@include article-category('electronicDance', $electronicdance-background-color-light, $electronicdance-background-color-dark);
@include article-category('pop', $pop-background-color-light, $pop-background-color-dark);
@include article-category('latinAlternative', $latinalternative-background-color-light, $latinalternative-background-color-dark);
@include article-category('country', $country-background-color-light, $country-background-color-dark);
@include article-category('rnb', $rnb-background-color-light, $rnb-background-color-dark);

.music-article-preview div.x-innerhtml {
    height : 100%;
}

.music-article-preview div.music-article-image {
    @include box-flex(3);
    position            : relative;
    padding-top         : 42px;
    background-position : center center;
    background-repeat   : no-repeat;
    background-size     : cover;
    //min-height          : 100%;

}

/*********************************
 *
 * Styles for the article page
 *
 *********************************/

@mixin article($genre, $bg-color1, $bg-color2){
    .music-article-header .music-article-#{$genre} {
        h2 {
            position                           : absolute;
            top                                : -5px;
            left                               : -5px;
            @include background-image(linear-gradient($bg-color1, $bg-color2));
            color                              : #fff;
            font-family                        : $base-font;
            font-size                          : 0.9em;
            text-transform                     : uppercase;
            padding                            : 10px 20px;
            border                             : 1px solid rgba(255, 255, 255, .5);
            box-shadow                         : 3px 5px 5px rgba(0, 0, 0, .5);
            -webkit-border-bottom-right-radius : 5px;
        }
    }

    .music-article-genre-#{$genre} {
        height         : 60px;
        font-size      : 1.8em;
        border         : none;
        color          : #fff;
        @include background-image(linear-gradient($bg-color1, $bg-color2));

        font-family    : $base-font;
        text-transform : uppercase;
        padding        : 10px 20px 0 30px;

        @media #{$kindle-fire} {
            height         : 30px;
            font-size      : 1.1em;
            padding        : 5px 20px 0 30px;
            //border : 1px solid #F00;
        }

        @media #{$kindle-hd-7i} {
            height         : 40px;
            font-size      : 1.3em;
            padding        : 5px 20px 0 30px;
            //border : 1px solid #0F0;
        }

        @media #{$kindle-hd-8i} {
            height         : 60px;
            font-size      : 1.8em;
            padding        : 10px 20px 0 30px;
            //border: 1px solid #00F;
        }


    }

    .music-article-btn-pressed-#{$genre} {
        background-color : $bg-color1;
    }
}

.music-article {
    .x-scroll-view {
        background : #ececec;
        //url(../images/article-bg.png);
        //@include box-shadow(inset rgba(0, 0, 0, 0.7) 5px 0px 5px);
    }

    @media screen and (orientation: portrait) {
        padding : 0;
    }

    .music-article-image {
        //position            : relative;
        height              : 280px;
        background-size     : cover;
        background-position : top center;
        background-repeat   : no-repeat;


        @media #{$kindle-fire} {
            height : 225px;
            //border : 1px solid #F00;
        }

        @media #{$kindle-hd-7i} {
            height : 200px;
            //border : 1px solid #0F0;
        }

        @media #{$kindle-hd-8i} {
            height : 400px;
            //border: 1px solid #00F;
        }

        .music-article-image-overlay {
            height : 100%;
            @include display-box;
            @include box-orient(horizontal);
            @include box-align(stretch);
        }

    /*margin-bottom:20px;*/

        h1 {
            @include background-image(linear-gradient(color-stops(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.90))));
            font-family : $base-font;
            position    : absolute;
            bottom      : 0;
            right       : 0;
            font-size   : 1.5em;
            text-shadow : 0px 2px rgba(0, 0, 0, .9);
            color       : #fff;
            padding     : 20px 25px;
            width       : 100%;
        }
    }

    h1 {
        font-size   : 1.5em;
        color       : #252525;
        font-weight : 500;
    }

    h3, h4 {
        //color       : #7A7A7A;
        font-weight : normal;
        font-size   : 1em;
        //text-shadow : 0px 1px white;
        //font-weight : bold;
    }

    h4 {
        margin    : 0.5em 0 1.5em 0;
        font-size : .8em;

    /*@media screen and (orientation:portrait) {*/
        //margin-left   : 15px;
    /*}*/

    }

    p {
        margin-bottom : 15px;
        font-size     : 1em;
        color         : #111;
        padding       : 0;
        line-height   : 1.6em;
    }

    .music-article-inner .x-innerhtml {
        margin : 0.7em 1.5em 0 1.5em;
    }

    .music-article-header {
        width            : 300px;
        //@include background-image(linear-gradient(color-stops(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.80))));
        background-color : rgba(0, 0, 0, 0.6);
        @include display-box;
        @include box-orient(vertical);
        @include box-align(stretch);
        @include box-pack(justify);

        position         : absolute;
        right            : 0;

        @media screen and (orientation: portrait) {
            padding : 40px 0 40px 2px;
        } //background : #191919 url(../images/article-view-sidebar-bg.png);

        .music-article-header-image {
            position            : relative;
            width               : 487px;
            height              : 331px;
            background-size     : cover;
            background-position : top center;
            background-repeat   : no-repeat;

            h1 {
                @include background-image(linear-gradient(color-stops(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.90))));
                font-family : $base-font;
                position    : absolute;
                bottom      : 0;
                right       : 0;
                font-size   : 1.5em;
                text-shadow : 0px 2px rgba(0, 0, 0, .9);
                color       : #fff;
                padding     : 20px 25px;
                width       : 100%;
            }
        }

        p {
            margin      : 15px 15px 0px 15px;
            font-size   : 0.7em;
            line-height : 1.6em;
            color       : #999;
            margin      : 15px 15px 0px 15px;
            font-style  : italic;
        }
    }

    .music-article-btn {
        top        : 222px;
        right      : 0;
        position   : absolute;
        display    : block;
        width      : 70px;
        height     : 58px;
            right      : 0;
        //border     : 1px dashed #F00;

        @media #{$kindle-fire} {
            top        : 167px;
            //border: 1px dashed #F00;
        }


        @media #{$kindle-hd-7i} {
            top        : 140px;
            //border: 1px solid #0F0;
        }

        @media #{$kindle-hd-8i} {
            top        : 342px;
            //border: 1px solid #00F;
        }

    }

    .music-article-btn-normal {
        background-color : rgba(0, 0, 0, .75);
    }

    .music-article-button {
        width    : 70px;
        height   : 58px;

        //@media #{$kindle-hd-7i} {
        //    height      : 40px;
        //    font-size : 1.5em;
        //    height    : 40px;
        //    padding   : 5px 0 0 10px;
        //}
        //
        //@media #{$kindle-hd-8i} {
        //   font-size : 2.25em;
        //   height    : 75px;
        //   padding   : 10px 0 0 10px;
        //}
    }

    //.music-article-button:before {
    //    left        : 0;
    //    width       : 20px;
    //    height      : 40px;
    //    line-height : 40px;
    //    color       : #959595;
    //}

    .music-article-button-listen {
        background : url('../images/icon_play.png');
        background-repeat: no-repeat;
    }
    //
    //.music-article-button-pressed.music-article-button-listen {
    //    //background-image : url('../images/icon_listen.png');
    //
    //}

    //.music-article-button-tweet {
    //    background-image : url('../images/icon_share.png');
    //    background-repeat: no-repeat;
    //
    //    //width            : 104px;
    //    //height           : 24px;
    //}


    //.music-article-button-pressed.music-article-button-tweet {
    //    //background-image : url('../images/DM-ArticleMenu-Active-Share.png');
    //    //background-repeat: no-repeat;
    //
    //}

    //.music-article-button-favorite {
    //    background-image : url('../images/icon_fav.png');
    //    background-repeat: no-repeat;
    //
    //    //width            : 104px;
    //    //height           : 24px;
    //}

    //.music-article-button-pressed.music-article-button-favorite {
    //    //background-image : url('../images/DM-ArticleMenu-Active-Favorites.png');
    //    //background-repeat: no-repeat;
    //
    //}

}

@include article('rock', $rock-background-color-light, $rock-background-color-dark);
@include article('classical', $classical-background-color-light, $classical-background-color-dark);
@include article('jazzBlues', $jazzblues-background-color-light, $jazzblues-background-color-dark);
@include article('world', $world-background-color-light, $world-background-color-dark);
@include article('hipHop', $hipHop-background-color-light, $hipHop-background-color-dark);
@include article('electronicDance', $electronicdance-background-color-light, $electronicdance-background-color-dark);
@include article('latinAlternative', $latinalternative-background-color-light, $latinalternative-background-color-dark);
@include article('pop', $pop-background-color-light, $pop-background-color-dark);
@include article('country', $country-background-color-light, $country-background-color-dark);
@include article('rnb', $rnb-background-color-light, $rnb-background-color-dark);
