// force hardware acceleration
// make our font smoothing better in Webkit
html {
  -webkit-font-smoothing : antialiased;
}

body {
  margin  : 0;
  padding : 0;
}

.music-app-title {
  background    : url('../images/topbar-texture.png') repeat-x;
  margin        : 0 !important;
  box-shadow    : 0px 2px 7px rgba(0, 0, 0, .75);
  border-bottom : 2px solid black !important;
  border-top    : 1px solid #767676 !important;
  z-index       : 1;
  height        : 60px;

  // unstyle our buttons
  .x-button-normal {
    background : none;
    border     : none;
    .x-button-icon {
      width  : 30px;
      height : 30px;
    }
  }

  .x-innerhtml {
    font-family  : $base-font;
    font-weight  : 300;
    font-size    : 20px;
    padding-left : 34px;
    background   : transparent url(../images/sencha-logo-small.png) 3px center no-repeat;
    text-align   : left;
    color        : #fff;
    text-shadow  : 0px 2px rgba(0, 0, 0, .9);
    // color: #000;
    // text-shadow: 0 1px 0 rgba(255, 255, 255, .1), 0 0 30px rgba(255, 255, 255, .125);
    margin-top   : 4px;
    margin-left  : 8px;
  }
}

.music-about-panel {
  margin-top : 10px;
  h1 {
    color          : #787878;
    text-shadow    : 0px 2px #000;
    font-size      : 18px;
    font-family    : $base-font;
    font-weight    : 300;
    text-transform : uppercase;
    text-align     : center;
    padding        : 18px 0px;
  }
  p {
    color       : #787878;
    font-size   : 15px;
    margin      : 0px 30px 15px 30px;
    line-height : 25px;
    font-size   : 15px;
    span {
      color           : #999;
      text-decoration : none;
      font-weight     : bold;
    }
  }
  .x-button {
    height : 40px;
    width  : 250px;
    margin : 20px auto;
  }
}

.favorite-icon {
  background : transparent url(../images/heart.png) center center no-repeat !important;
}

.search-icon {
  background : transparent url(../images/search3.png) center center no-repeat !important;
}

.toc-icon {
  background : transparent url(../images/toc-mask.png) center center no-repeat !important;
}

.find-stations-icon {
  background : transparent url(../images/radar.png) center center no-repeat !important;
}

