/************************************
 *	GLOBAL TOC
 ************************************/



.global-toc {

}

.global-toc-genre-container .x-innerhtml {
   display:-webkit-box;
}

.global-toc-genre-item {
    -webkit-box-orient  : horizontal;
}

@mixin global-toc($genre, $bg-color1, $bg-color2){
    .global-toc {
        background : url('../images/article-view-sidebar-bg.png');


        .global-toc-featured-story {
            .x-innerhtml {
                height : 545px;
            }
            .global-toc-featured-image-#{$genre} {
                position            : relative;
                height              : 100%;
                background-size     : cover;
                background-position : center center;
                background-repeat   : no-repeat;

                h2 {
                    @include background-image(linear-gradient(color-stops($bg-color1, $bg-color2)));
                    //border         : 2px solid rgba(255, 255, 255, .5);
                    //box-shadow     : 0px 6px 5px rgba(0, 0, 0, .65);
                    color          : #fff;
                    font-family    : $base-font;
                    height         : 40px;
                    //text-shadow    : 0px 1px darken($bg-color2, 20);
                    font-size      : 1.5em;
                    text-transform : uppercase;
                    padding-left   : 30px;
                    text-align     : left;
                    //margin-bottom  : 10px;
                }

                h3 {
                    @include background-image(linear-gradient(color-stops(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55))));
                    //text-shadow : 0px 2px rgba(0, 0, 0, .9);
                    font-family : $base-font;
                    position    : absolute;
                    height      : 161px;
                    width       : 100%;
                    bottom      : 0;
                    line-height : 30px;
                    color       : #fff;
                    font-size   : 2em;
                    padding     : 15px 20px;
                }
            }
            .global-toc-featured-content {
                background  : none;
                color       : #fff;
                line-height : 1.6em;
                padding     : 10px 20px;
                font-size   : 17px;
                font-family : "Georgia", sans-serif;
            }
            .global-toc-about {
                @include border-radius(5px);
                background-color : #2d2d2d;
                color            : #999;
                line-height      : 1.5em;
                padding          : 15px 20px;
                margin           : 15px 0 0 15px;
                font-size        : 13px;
            }
        }
    }

  .global-toc-genre-#{$genre} {
      background            : url('../images/article-view-sidebar-bg.png');
      background-attachment : fixed;
      .global-toc-genre-image {
          //position            : relative;
          height              : 175px;
          width               : 150px;
          background-size     : cover;
          background-position : center center;
          background-repeat   : no-repeat;

          h2 {
              @include background-image(linear-gradient(color-stops($bg-color1, $bg-color2)));
              //border         : 2px solid rgba(255, 255, 255, .5);
              //box-shadow     : 0px 6px 5px rgba(0, 0, 0, .65);
              color          : #fff;
              font-family    : $base-font;
              height         : 20px;
              //text-shadow    : 0px 1px darken($bg-color2, 20);
              font-size      : .7em;
              text-transform : uppercase;
              padding-left   : 5px;
              text-align     : left;
              margin-bottom  : 10px;
          }

          h3 {
              @include background-image(linear-gradient(color-stops(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55))));
              //text-shadow : 0px 2px rgba(0, 0, 0, .9);
              font-family : $base-font;
              position    : absolute;
              height      : 80px;
              width       : 150px;
              bottom      : 0;
              line-height : 15px;
              color       : #fff;
              font-size   : .8em;
              padding     : 5px 5px;
          }
      }

      p {
          font-size   : 0.85em;
          //text-shadow : 0px 2px rgba(0, 0, 0, .9);
          font-weight : bold;
          padding     : 12px 20px;
          color       : #ccc;
      }
      &:last-child {
          //margin-bottom:30px;
      }

      .global-toc-article-pressed {
          background-color : $bg-color1;
          color            : #fff;
          //text-shadow      : 0px 1px darken($bg-color1, 20);
      }
  }
}


@include global-toc('rock', $rock-background-color-light, $rock-background-color-dark);
@include global-toc('classical', $classical-background-color-light, $classical-background-color-dark);
@include global-toc('jazzBlues', $jazzblues-background-color-light, $jazzblues-background-color-dark);
@include global-toc('world', $world-background-color-light, $world-background-color-dark);
@include global-toc('hipHop', $hipHop-background-color-light, $hipHop-background-color-dark);
@include global-toc('electronicDance', $electronicdance-background-color-light, $electronicdance-background-color-dark);
@include global-toc('pop', $pop-background-color-light,  $pop-background-color-dark);
@include global-toc('latinAlternative',$latinalternative-background-color-light,  $latinalternative-background-color-dark);
@include global-toc('country',$country-background-color-light, $country-background-color-dark);
@include global-toc('rnb',$rnb-background-color-light, $rnb-background-color-dark);


/************************************
*	GENRE TOC
************************************/
@mixin genre-toc($genre, $bg-color1, $bg-color2){
    .genre-toc-featured-#{$genre} {
        position            : relative;
        height              : 645px;
        @media screen and (orientation:landscape) {
            height : 385px;
        } border            : 6px solid #000;
        background-size     : cover;
        background-position : center top;
        background-repeat   : no-repeat;
        h2 {
            background-image : -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.65)), color-stop(100%, rgba(0, 0, 0, 0.9)));
            background-image : -webkit-linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.9));
            background-image : linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.9));
            position         : absolute;
            color            : white;
            padding          : 15px 20px;
            font-size        : 1.5em;
            width            : 100%;
            font-family      : $base-font;
            font-weight      : normal;
            bottom           : 0;
        }
        h3 {
            @include background-image(linear-gradient(color-stops($bg-color1, $bg-color2)));
            @include single-box-shadow(rgba(0, 0, 0, .5), 0px, 2px, 2px, 0px, false);
            border         : 2px solid rgba(255, 255, 255, .5);
            position       : absolute;
            top            : 10px;
            left           : 0;
            color          : #fff;
            font-size      : 1.2em;
            padding        : 20px 40px;
            color          : #fff;
            font-size      : 1.1em;
            font-family    : $base-font;
            text-transform : uppercase;
            //text-shadow    : 0px 1px darken($bg-color2, 20);
        }
    }

    .genre-toc-story {
        p {
            font-size   : .7em;
            line-height : 1.8em;
            padding     : 4px 4px;
        }
        .genre-toc-story-image-#{$genre} {
            position            : relative;
            height              : 308px;
            background-size     : cover;
            background-position : center top;
            background-repeat   : no-repeat;
            border              : 6px solid black;

            h3 {
                @include background-image(linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)));
                position    : absolute;
                top         : 10px;
                left        : 0;
                color       : #fff;
                font-size   : 1.2em;
                padding     : 20px;
                color       : #fff;
                font-size   : 1.1em;
                font-family : $base-font;
                //text-shadow : 0px 1px darken($bg-color2, 20);
            }
        }

        .genre-toc-story {
            p {
                font-size   : .7em;
                line-height : 1.8em;
                padding     : 4px 4px;
            }
            .genre-toc-story-image-#{$genre} {
                position            : relative;
                height              : 308px;
                background-size     : cover;
                background-position : center top;
                background-repeat   : no-repeat;
                border              : 6px solid black;

                h3 {
                    @include background-image(linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)));
                    position    : absolute;
                    bottom      : 0px;
                    left        : 0;
                    color       : #fff;
                    font-size   : .85em;
                    height      : 76px;
                    width       : 100%;
                    padding     : 10px;
                    color       : #fefefe;
                    font-weight : bold;
                }
            }
        }
        .genre-toc-story:first-child {
            margin : 0;
        }
    }
}

@include genre-toc('rock', $rock-background-color-light, $rock-background-color-dark);
@include genre-toc('classical', $classical-background-color-light, $classical-background-color-dark);
@include genre-toc('jazzBlues', $jazzblues-background-color-light, $jazzblues-background-color-dark);
@include genre-toc('world', $world-background-color-light, $world-background-color-dark);
@include genre-toc('hipHop', $hipHop-background-color-light, $hipHop-background-color-dark);
@include genre-toc('electronicDance', $electronicdance-background-color-light, $electronicdance-background-color-dark);
@include genre-toc('pop', $pop-background-color-light,  $pop-background-color-dark);
@include genre-toc('latinAlternative',$latinalternative-background-color-light,  $latinalternative-background-color-dark);
@include genre-toc('country',$country-background-color-light, $country-background-color-dark);
@include genre-toc('rnb',$rnb-background-color-light, $rnb-background-color-dark);

