
/*********************************
 *
 * Styles for the cover
 *
 *********************************/

@mixin article-category($category, $bg-color1, $bg-color2) {

		// the 'genre flag' in the cover flow
		.music-article-category {
			float: left;
			border: 2px solid rgba(255, 255, 255, .5);
			border-left: none;
			h1 {
				padding:20px 40px;
				color: #fff;
				font-size: 1.8em;
				text-align: center;
				font-family: $base-font;
				text-transform: uppercase;
			}
		}

		// we'll style these based on the genre colors
		.music-article-#{$category} {
			@include background-image(linear-gradient($bg-color1, $bg-color2));
			@include single-text-shadow(darken($bg-color2, 15), 0px, 1px, 1px);
			@include single-box-shadow(rgba(0, 0, 0, .5), 0px, 2px, 2px, 0px, false);
		}
		
		.back-to-covers-button-#{$category} {
			height: 86px;
			float: left;
			border: 2px solid rgba(255, 255, 255, .5);
			border-left: none;
			@include background-image(linear-gradient(darken($bg-color1, 15), darken($bg-color2, 15)));
			@include single-text-shadow(darken($bg-color2, 15), 0px, 1px, 1px);
			@include single-box-shadow(rgba(0, 0, 0, .5), 0px, 2px, 2px, 0px, false);
			span {
				display: inline-block;
				width: 64px;
				height: 64px;
				margin-top: 10px;
				background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyRpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYxIDY0LjE0MDk0OSwgMjAxMC8xMi8wNy0xMDo1NzowMSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNS4xIE1hY2ludG9zaCIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDpDQzdEMEM1QTRDMjUxMUUxOEI5OEIwNzREMzE3OEU4MiIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDpDQzdEMEM1QjRDMjUxMUUxOEI5OEIwNzREMzE3OEU4MiI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjM0QjYwRTU3NEMxQjExRTE4Qjk4QjA3NEQzMTc4RTgyIiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjM0QjYwRTU4NEMxQjExRTE4Qjk4QjA3NEQzMTc4RTgyIi8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+e3cV+gAAAuJJREFUeNrsml9klWEcx591GBEjTs5ERCzLKNFIWcaomziRpd10FaW7FN2M6CKl2yZGlGapm3ZTNx2bZrSr6WjESDEiS2Nk0/H2/Tm/dDLnPc/7nud5zvM+7+/Hx8x5z/vnc54/v/f3PF1RFKk8R5cIEAEiQASIABEgAkSACPArroEfYCqPAi6Bx6AGzoGZPAkYBc9Agf/fAmdAJQ8CyuBFw8P/jV/gFFgMWcBp8Ap0N/l8HZwE1RAFDIHXYGeL476D42AlJAHHwFuwS/P4VTDIfzMv4DCYBT0Jv1fl7rCeZQH9/PDFlN+v8OywlUUB+8AC2NvmeShJGsuagCI//AFD57sLbmVFQA8PeEcNn/cqmPBdQDdPdcOWzj+W9r3BhYACZ3hli9dInTK7EPAIXHbQylJli7YF3AbjDgfZxImSTQH0ZjfdgRwjUaJkS8AAeK+R39sK7UTJloBJTnV1Z4gBC/eglSj58DZIs8RagneCeW7iRmKHB7WAGj+UbnwzeXEfBFAkqfashiggydz9NUQBK5ZkeV0QaYzdPBDqRK/JccAXATQVbmoctwwOhdgFdGPO9Al9aQGUA/zUOI6yuzchCqBM8EOLY2itcA/nDcF1gX7N1LZm+sK+CBjSyBYnbFzYl3eBLyq+SvwcXAhVwEVVXxGO+/UPKsNLYr4IoPn/o4ovk98HN23dQKcF3AM3WiQ+R5SBFSAfBVwBD2M+t7Yk/l+QAMcUwB3wO2oem2DYxf24bgF94ImqL4s3C2ruVMp66eKG4gTQAEU7N2iLSqWNJIQKoyOqvvnprNq+BaYxaBPEeRs5f9oxgCSMc3+laWiJ++Sy+ld2/gQ2QKlhLqfUdj//0ieU3gaIp+A6S3AXmn2lCB6Atch8vAMjHRiLUo0BBe4WZU5f0y5zU11vhtPbqupgtDsIlnhg6+MmX1Lba/wb3E0o5pnPvhQYZK+wCBABIkAEiAARIAJEgAjIafwRYAAchrWXKyxpbwAAAABJRU5ErkJggg==) no-repeat;
			}
		}

		.show-genre-button-#{$category} {
			@include background-image(linear-gradient(darken($bg-color1, 15), darken($bg-color2, 15)));
			@include single-text-shadow(darken($bg-color2, 15), 0px, 1px, 1px);
			@include single-box-shadow(rgba(0, 0, 0, .5), 0px, 2px, 2px, 0px, false);	
			height: 86px;
			float: left;
			border: 2px solid rgba(255, 255, 255, .5);
			border-left: none;
			span {
				display: inline-block;
				width: 64px;
				height: 64px;
				margin-top: 10px;
				background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyRpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYxIDY0LjE0MDk0OSwgMjAxMC8xMi8wNy0xMDo1NzowMSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNS4xIE1hY2ludG9zaCIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDozNEI2MEU1MTRDMUIxMUUxOEI5OEIwNzREMzE3OEU4MiIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDozNEI2MEU1MjRDMUIxMUUxOEI5OEIwNzREMzE3OEU4MiI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjM0QjYwRTRGNEMxQjExRTE4Qjk4QjA3NEQzMTc4RTgyIiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjM0QjYwRTUwNEMxQjExRTE4Qjk4QjA3NEQzMTc4RTgyIi8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+ybaXVgAAAtJJREFUeNrsml+EFVEcx892iSWWWDbLclniUiKi7IpSStncJWWzPUax9NprpIdeSg/pocddvaVlSZGy+9ISsTZi9RDLZYklpSW370/fGGvvnDNz58ycPff34+O65tyZO98z5/dvTl+73Ta9bH0qgAqgAqgAKoAKoAKoACpAPhsBx8EQaPD7II/J5ybYAuugBT6Dt2BltwqwF5wiTTCa87oizBvwDLyqVAERwIE6eAp+tou3VTDh+D8Kx/YE9IP7YAosg09gLfEIfwMbifEN/mYfOEZOJpZFms2DGZ4zmCXQ5Ppd7vI658AV0p8y7juYBO9DWwJFMQRmLUviN5gOZQn4shvgMZ3qTvaHT8J8zHmA+JXZlOO/wDj46PNP7KkwAM2BuxYH/JwONdpMUJbAqiWfeARux5wKT4CXKcfFHxxmFhmlADXwlWl0J3tBpxiVD0jO8IJlTJNJVpQCGBZINrsZczncoDO0FVAHGB6jewLWHcYMsAqNcgn8cBx3IVYBao7jzsQqwIDjuFF2n6ITYDjD2CMxClDPGDGiEyDLrI7EKMDRXhagljG+DxZ5cV+Z4EMw5jj2kOncGerGnoBbVQkgjuqD72aGpbY4b/69lKlkCUjtfo2VXtm2wtJ5q2ofIA3NOyXffIszvxmKE3xAyjCpEi85Flall8PS/Z3yeP7cbfSywuB147fHP5P3/GUJIDN0FSx5OPc9hryg8oC0qm+Rsb+0WB+SAIbl7KLJv7cgGWUmuw21VfUE6xRhOOfvnROdUAUQO0gRsub2kuiMZ4n1oQrwvw54B/Y7jl/jzbdCL4aymOwieW3sbTFJcE6YgneQhPJeYIwidNo9ssGZ/1L0hUNpiCwxjd3ppYes9dM+bj4kAcRk29zlbZ5dBDlrPO4rDEkAsYVEGS1CXDTdb9DaFT5gu03z0Y96j1AQpgKoACqACqACqAAqgAqgAvSq/RVgAGiuiZs08aT0AAAAAElFTkSuQmCC) no-repeat;
			}			
		}

		// full article page gets the same colors as the genre cover for the title
		.music-article-full-#{$category} {
			.image { 
				background-repeat: no-repeat;
				height: 400px;
				position: relative;
			}
			.title {
				@include background-image(linear-gradient($bg-color1, $bg-color2));
				@include single-text-shadow(darken($bg-color2, 15), 0px, 1px, 1px);
				@include single-box-shadow(rgba(0, 0, 0, .5), 0px, 2px, 2px, 0px, false);
				position: absolute;
				left: 0px;
				top: 320px;
				h1 {
					color: #fff;
					font-family: $base-font;
					font-weight: 500;
					font-size: 32px;
					padding: 20px;
				}
			}
			.text {
				float: left;
				width: 700px;
				background: #fff;
				padding: 20px;
				@include single-box-shadow(rgba(0, 0, 0, .5), 0px, 2px, 2px, 0px, false);
				p {
					font-family: $alt-font;
					font-size: 18px;
					line-height: 26px;
					margin-bottom: 15px; 
				}
			}
			.controls {
				float: left;
				width: 150px;
				height: 300px;
				margin: 20px 30px 0px 30px;
				background: #ccc;
				@include border-radius(10px);
				@include single-box-shadow(rgba(0, 0, 0, .5), 0px, 2px, 2px, 0px, false);
			}			
		}

		.music-article-title {
			position:absolute;
			left:20px;
			right:20px;
			bottom:90px;
			height:130px;

			.music-content-all {
				position:relative;
				height:100%;
			}
			
			.music-article-title-bg {
				position:absolute;
				height:100%;
				width:100%;
				padding:30px 25px;
				@include border-radius(10px);
				@include background-image(linear-gradient(color-stops(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.70))));
			}

			.music-article-title-content{
				position:absolute;
				padding:30px 25px;
				width:100%;

				h2 {
					color:#fff;
					font-size:1.9em;
					font-family: $base-font;
					@include opacity(1);
				}
				.music-article-btn {
					float:right;
					@include opacity(1);
					@include border-radius(10px);
					border: 2px solid rgba(255, 255, 255, .5);
					padding:20px 30px;
					margin-left:50px;
					color:#fff;
					font-family: $base-font;
					font-size: 1.4em;
					em {
						font-family: $alt-font;
						font-weight: 100;
						font-size: 27px;						
					}
				}
				.music-article-btn-#{$category}{
					@include background-image(linear-gradient($bg-color1, $bg-color2));
					@include single-text-shadow(darken($bg-color2, 15), 0px, 1px, 1px);
				}
			}
		}
	

	.x-carousel-indicator-horizontal{
		height:5em;
	}
	.music-genre-#{$category} .x-carousel-indicator-light span{
		background-color:#fff;
	}
	.music-genre-#{$category} .x-carousel-indicator-light span.x-carousel-indicator-active{
		@include background-image(linear-gradient($bg-color1, $bg-color2));
	}

	.x-body{
		background-color:#fff;
	}
}

@include article-category('rockPopFolk', rgba(255, 204, 0, 1.0), rgba(255, 167, 0, 1.0));
@include article-category('classical', rgba(102, 204, 0, 1.0), rgba(102, 171, 32, 1.0));
@include article-category('jazzBlues', rgba(51, 204, 255, 1.0), rgba(22, 153, 196, 1.0));
@include article-category('world', rgba(102, 44, 145, 1.0), rgba(57, 16, 87, 1.0));
@include article-category('hipHopRB', rgba(255, 0, 255, 1.0), rgba(166, 18, 166, 1.0));

.music-article-preview div.x-innerhtml {
	height:100%;
}
.music-article-preview div.music-article-image{
	@include box-flex(3);
	position:relative;
	padding-top:42px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height:100%;
    height:100%;
}

/*********************************
 *
 * Styles for the article page
 *
 *********************************/

.music-article-header div.x-innerhtml {
	height:100%;
}
.music-article-header .music-article-header-image{
	position:relative;
	height:100%;
	background-size: cover;
	background-position: center top;
    background-repeat: no-repeat;
}
.music-article-header h1{
	position:absolute;
	bottom:0;
	right:0;
	font-size:1.8em;
	color:#fff;
	padding:20px 25px;
	font-weight:bold;
	border-top:5px solid #fff;
	border-left:5px solid #fff;
	max-width:645px;
	@include background-image(linear-gradient(#3399ff,#0071bc));
}
.music-article-content .x-innerhtml{
	padding:20px 0 20px 0;
}
.landscape .music-article-content .x-innerhtml{
	@include column-count(2);
}
.portrait .music-article-content .x-innerhtml{
	@include column-count(1);
}
.music-article-content .x-innerhtml p{
	margin-bottom:30px;
	font-family: "Georgia", serif;
	line-height: 30px;
}
.music-article-controls .x-innerhtml{
	padding:30px 0 20px 0;
}
.music-article-controls-content{
	padding:15px 18px;
	background-color:#eee;
	border:1px solid #ddd;
	border-left:2px solid #ddd;
	border-right:2px solid #ddd;
	@include border-radius(50px);
	margin:0 20px;
	width:86px;
}
.music-article-controls-button{
	width:48px;
	height:48px;
	margin-bottom:30px;
	background:transparent url(../images/controls.png) 0 0 no-repeat;

	&:last-child{
		margin:0;
	}
}
.music-article-controls-favorites{
	background-position:0 -48px;
}
.music-article-controls-twitter{
	background-position:0 -96px;
}
