@mixin article-category($category,$bg-color1,$bg-color2) {

	// definition for the Genre covers
	.music-article-preview {

		.music-article-category{
			float: left;
			padding:20px 40px;
			border: 2px solid rgba(255, 255, 255, .5);
			border-left: none;
			h1 {
				color: #fff;
				font-size: 1.8em;
				text-align: center;
				font-family: $base-font;
				text-transform: uppercase;
			}
		}

		.music-article-#{$category}{
			@include background-image(linear-gradient($bg-color1, $bg-color2));
			@include single-text-shadow(darken($bg-color2, 15), 0px, 1px, 1px);
			@include single-box-shadow(rgba(0, 0, 0, .5), 0px, 2px, 2px, 0px, false);
		}

		.music-article-title{
			position:absolute;
			left:20px;
			right:20px;
			bottom:90px;
			height:130px;

			.music-content-all{
				position:relative;
				height:100%;
			}
			
			.music-article-title-bg{
				position:absolute;
				height:100%;
				width:100%;
				padding:30px 25px;
				@include border-radius(10px);
				@include background-image(linear-gradient(color-stops(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.70))));
			}

			.music-article-title-content{
				position:absolute;
				padding:30px 25px;
				width:100%;

				h2 {
					color:#fff;
					font-size:1.9em;
					font-family: $base-font;
					@include opacity(1);
				}
				.music-article-btn {
					float:right;
					@include opacity(1);
					@include border-radius(10px);
					border: 2px solid rgba(255, 255, 255, .5);
					padding:20px 30px;
					margin-left:50px;
					color:#fff;
					font-family: $base-font;
					font-size: 1.4em;
					em {
						font-family: $alt-font;
						font-weight: 100;
						font-size: 27px;						
					}
				}
				.music-article-btn-#{$category}{
					@include background-image(linear-gradient($bg-color1,$bg-color2));
					@include single-text-shadow(darken($bg-color2, 15), 0px, 1px, 1px);
				}
			}
		}
	}

	.x-carousel-indicator-horizontal{
		height:5em;
	}
	.music-genre-#{$category} .x-carousel-indicator-light span{
		background-color:#fff;
	}
	.music-genre-#{$category} .x-carousel-indicator-light span.x-carousel-indicator-active{
		@include background-image(linear-gradient($bg-color1, $bg-color2));
	}
}

.music-article-preview div.x-innerhtml {
	height:100%;
}
.music-article-preview div.music-article-image{
	@include box-flex(3);
	position:relative;
	padding-top:42px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height:100%;
    height:100%;
}


// individual article page styling
.music-article {
	float: left; width: 66%;
	.image { position: absolute; height: 400px; width: 650px; }
	.controls {
		
	}
	.text {
		position: relative;
		top: 295px;
		padding: 10px 50px;
		background: white;
		font-family: $alt-font;
		overflow: auto;
		p {
			line-height: 27px;			
			margin-bottom: 15px; 
		}
	}
	.title {
		position: relative;
		top: 316px;
		@include background-image(linear-gradient(rgba(44, 150, 252, 0.80), rgba(0, 107, 180, 0.80)));
		width: 600px;
		left: 50px;
		border: 6px solid white;
		border-bottom: 0px;
		border-right: 0px;
		h1 {
			font-size: 30px;
			font-family: $base-font;
			color: #fff;
			padding: 20px;
		}
	}
}

@include article-category('rockPopFolk',#ffcc00,#ffa700);
@include article-category('classical',#66cc00,#66ab20);
@include article-category('jazzBlues',#33ccff,#1699c4);
@include article-category('world',#662c91,#391057);
@include article-category('hipHopRB',#ff00ff,#a612a6);