
/*********************************
 *
 * Styles for the cover
 *
 *********************************/

@mixin article-category($category, $bg-color1, $bg-color2) {

		// the 'genre flag' in the cover flow
		.music-article-category {
			float: left;
			padding:20px 40px;
			border: 2px solid rgba(255, 255, 255, .5);
			border-left: none;
			h1 {
				color: #fff;
				font-size: 1.8em;
				text-align: center;
				font-family: $base-font;
				text-transform: uppercase;
			}
		}

		// we'll style these based on the genre colors
		.music-article-#{$category} {
			@include background-image(linear-gradient($bg-color1, $bg-color2));
			@include single-text-shadow(darken($bg-color2, 15), 0px, 1px, 1px);
			@include single-box-shadow(rgba(0, 0, 0, .5), 0px, 2px, 2px, 0px, false);
		}

		// full article page gets the same colors as the genre cover for the title
		.music-article-full-#{$category} {
			.image { 
				background-repeat: no-repeat;
				height: 400px;
				position: relative;
			}
			.title {
				@include background-image(linear-gradient($bg-color1, $bg-color2));
				@include single-text-shadow(darken($bg-color2, 15), 0px, 1px, 1px);
				@include single-box-shadow(rgba(0, 0, 0, .5), 0px, 2px, 2px, 0px, false);
				position: absolute;
				left: 0px;
				top: 320px;
				h1 {
					color: #fff;
					font-family: $base-font;
					font-weight: 500;
					font-size: 32px;
					padding: 20px;
				}
			}
			.text {
				float: left;
				width: 700px;
				background: #fff;
				padding: 20px;
				@include single-box-shadow(rgba(0, 0, 0, .5), 0px, 2px, 2px, 0px, false);
				p {
					font-family: $alt-font;
					font-size: 18px;
					line-height: 26px;
					margin-bottom: 15px; 
				}
			}
			.controls {
				float: left;
				width: 150px;
				height: 300px;
				margin: 20px 30px 0px 30px;
				background: #ccc;
				@include border-radius(10px);
				@include single-box-shadow(rgba(0, 0, 0, .5), 0px, 2px, 2px, 0px, false);
			}			
		}

		.music-article-title {
			position:absolute;
			left:20px;
			right:20px;
			bottom:90px;
			height:130px;

			.music-content-all {
				position:relative;
				height:100%;
			}
			
			.music-article-title-bg {
				position:absolute;
				height:100%;
				width:100%;
				padding:30px 25px;
				@include border-radius(10px);
				@include background-image(linear-gradient(color-stops(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.70))));
			}

			.music-article-title-content{
				position:absolute;
				padding:30px 25px;
				width:100%;

				h2 {
					color:#fff;
					font-size:1.9em;
					font-family: $base-font;
					@include opacity(1);
				}
				.music-article-btn {
					float:right;
					@include opacity(1);
					@include border-radius(10px);
					border: 2px solid rgba(255, 255, 255, .5);
					padding:20px 30px;
					margin-left:50px;
					color:#fff;
					font-family: $base-font;
					font-size: 1.4em;
					em {
						font-family: $alt-font;
						font-weight: 100;
						font-size: 27px;						
					}
				}
				.music-article-btn-#{$category}{
					@include background-image(linear-gradient($bg-color1, $bg-color2));
					@include single-text-shadow(darken($bg-color2, 15), 0px, 1px, 1px);
				}
			}
		}
	

	.x-carousel-indicator-horizontal{
		height:5em;
	}
	.music-genre-#{$category} .x-carousel-indicator-light span{
		background-color:#fff;
	}
	.music-genre-#{$category} .x-carousel-indicator-light span.x-carousel-indicator-active{
		@include background-image(linear-gradient($bg-color1, $bg-color2));
	}

	.x-body{
		background-color:#fff;
	}
}

@include article-category('rockPopFolk', rgba(255, 204, 0, 1.0), rgba(255, 167, 0, 1.0));
@include article-category('classical', rgba(102, 204, 0, 1.0), rgba(102, 171, 32, 1.0));
@include article-category('jazzBlues', rgba(51, 204, 255, 1.0), rgba(22, 153, 196, 1.0));
@include article-category('world', rgba(102, 44, 145, 1.0), rgba(57, 16, 87, 1.0));
@include article-category('hipHopRB', rgba(255, 0, 255, 1.0), rgba(166, 18, 166, 1.0));

.music-article-preview div.x-innerhtml {
	height:100%;
}
.music-article-preview div.music-article-image{
	@include box-flex(3);
	position:relative;
	padding-top:42px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height:100%;
    height:100%;
}

/*********************************
 *
 * Styles for the article page
 *
 *********************************/

.music-article-header div.x-innerhtml {
	height:100%;
}
.music-article-header .music-article-header-image{
	position:relative;
	height:100%;
	background-size: cover;
	background-position: center top;
    background-repeat: no-repeat;
}
.music-article-header h1{
	position:absolute;
	bottom:0;
	right:0;
	font-size:1.8em;
	color:#fff;
	padding:20px 25px;
	font-weight:bold;
	border-top:5px solid #fff;
	border-left:5px solid #fff;
	max-width:645px;
	@include background-image(linear-gradient(#3399ff,#0071bc));
}
.music-article-content .x-innerhtml{
	padding:20px 0 20px 0;
}
.landscape .music-article-content .x-innerhtml{
	@include column-count(2);
}
.portrait .music-article-content .x-innerhtml{
	@include column-count(1);
}
.music-article-content .x-innerhtml p{
	margin-bottom:30px;
}
.music-article-controls .x-innerhtml{
	padding:30px 0 20px 0;
}
.music-article-controls-content{
	padding:15px 18px;
	background-color:#eee;
	border:1px solid #ddd;
	border-left:2px solid #ddd;
	border-right:2px solid #ddd;
	@include border-radius(50px);
	margin:0 20px;
	width:86px;
}
.music-article-controls-button{
	width:48px;
	height:48px;
	margin-bottom:30px;
	background:transparent url(../images/controls.png) 0 0 no-repeat;

	&:last-child{
		margin:0;
	}
}
.music-article-controls-favorites{
	background-position:0 -48px;
}
.music-article-controls-twitter{
	background-position:0 -96px;
}