@mixin article-category($category,$bg-color1,$bg-color2) {

	.music-article-category-#{$category} {

		div.music-article-category{
			@include background-image(linear-gradient($bg-color1, $bg-color2));
			border: 2px solid rgba(255, 255, 255, .5);
			float: left;
			padding:20px 40px;
			min-width:250px;
			-webkit-border-top-right-radius: 20px;
			-webkit-border-bottom-right-radius: 20px;
			-moz-border-radius-topright: 20px;
			-moz-border-radius-bottomright: 20px;
			border-top-right-radius: 20px;
			border-bottom-right-radius: 20px;	
			h1 {
				color: #fff;
				font-size: 1.8em;
				text-align: center;
				font-family: $base-font;
				text-transform: uppercase;
			}
		}

		div.music-article-title{
			position:absolute;
			left:20px;
			right:20px;
			bottom:90px;
			height:130px;

			div.music-content-all{
				position:relative;
				height:100%;
			}
			
			div.music-article-title-bg{
				position:absolute;
				height:100%;
				width:100%;
				padding:30px 25px;
				//background-color:#000;
				//@include opacity(0.5);
				@include border-radius(10px);
				/*background-color: #000000;*/
				background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.40)), to(rgba(0, 0, 0, 0.70)));
				background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.70));
				background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.70));
				background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.70));
				background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.70));
				background-image: linear-gradient(top, rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.70));
				filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#000000', EndColorStr='#000000');
			}

			div.music-article-title-content{
				position:absolute;
				padding:30px 25px;
				width:100%;

				h2 {
					color:#fff;
					font-size:1.9em;
					font-family: $base-font;
					@include opacity(1);
				}
				div.music-article-read-btn{
					float:right;
					@include opacity(1);
					@include background-image(linear-gradient($bg-color1,$bg-color2));
					@include border-radius(10px);
					border: 2px solid rgba(255, 255, 255, .5);
					padding:20px 30px;
					margin-left:50px;
					color:#fff;
					font-family: $base-font;
					font-size: 1.4em;
					em {
						font-weight: normal;
						font-family: 'JuraItalic';
					}
				}
			}
		}
	}

	.x-carousel-indicator-light span{
		background-color:#fff;
	}
	.x-carousel-indicator-light span.x-carousel-indicator-active{
		@include background-image(linear-gradient($bg-color1, $bg-color2));
	}
}

.music-article-preview div.x-innerhtml {
	height:100%;
}
.music-article-preview div.music-article-image{
	@include box-flex(3);
	position:relative;
	padding-top:42px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height:100%;
    height:100%;
}

@include article-category('featured',#ffcc00,#ffa700);