
.donate-component .donate-content{
	background-color:#14609f;
	@include border-radius(10px);

	h2{
		background-color:#3399ff;
		color:#fff;
		font-weight:bold;
		font-size:0.9em;
		@include border-radius(10px 10px 0 0);
		padding:18px 22px;
	}

	.donate-description{
		padding:20px 18px;
		color:#fff;
		font-size:0.9em
	}
}