// make our font smoothing better in Webkit
html { -webkit-font-smoothing: antialiased; }
body { margin: 0; padding: 0; }

.music-app-title {
	margin: 0 !important;
	@include background-image(linear-gradient(color-stops(rgb(79, 82, 82)), rgb(20, 20, 20)));
	@include single-box-shadow(#000, 0px, 10px, 20px, 20px, false);
	height: 60px;
	
	.x-innerhtml {
		font-family: $base-font;
		font-size: 24px; 
		padding-left: 34px;
		background: transparent url(../images/sencha-logo-small.png) 3px center no-repeat;
		text-align: left;
		color: #fff;
		margin-top: 4px;
		margin-left: 8px;
	}
}