// make our font smoothing better in Webkit
html { -webkit-font-smoothing: antialiased; }

.music-app-title {
	div.x-innerhtml{
		font-family: $alt-font;
		font-size: 26px; 
		padding-left:30px;
		background:transparent url(../images/sencha-logo-small.png) 3px center no-repeat;
	}
}