// force hardware acceleration
// make our font smoothing better in Webkit
html { -webkit-font-smoothing: antialiased; }
body { margin: 0; padding: 0; }

.music-app-title {
	@include background-image(linear-gradient(color-stops(rgb(79, 82, 82)), rgb(20, 20, 20)));
	margin: 0 !important;
	box-shadow: 0px 2px 7px rgba(0, 0, 0, .75);
	z-index: 1;	
	height: 60px;
	
	.x-innerhtml {
		font-family: $base-font;
		font-weight: 300;
		font-size: 27px; 
		padding-left: 34px;
		background: transparent url(../images/sencha-logo-small.png) 3px center no-repeat;
		text-align: left;
		color: #fff;
		margin-top: 4px;
		margin-left: 8px;
	}
}

.music-about-panel {
	@include background-image(linear-gradient(color-stops(rgba(0, 0, 0, .75), rgba(0, 0, 0, 1))));
	border: 3px solid rgba(255, 255, 255, .8);
	@include border-radius(10px);
	h1 {
		color: #fff;
		font-size: 30px;
		font-family: $base-font;
		font-weight: 300;
		text-align: center;
		padding: 20px 0px;		
	}
	p {
		font-family: $alt-font;
		color: #eee;
		font-size: 20px;
		margin: 0px 30px 20px 30px;
		line-height: 26px;
	}
	.x-button {
		height: 40px;
		width: 250px;
		margin: 20px auto;
	}
}

@include pictos-iconmask(toc-mask);