.music-player{
	height:35px;
	border:2px solid #151313;
	margin-top:12px;
	@include background-image(linear-gradient(#0d0d0d,#1a1a1a));
}

.music-player .x-innerhtml{
	margin:0;
	background:none;
	padding:0;
}

.music-player-timer{
	display:inline-block;
	vertical-align: top;
	width:100px;
	height:20px;
	@include background-image(linear-gradient(#99ffff,#6adcf3));
	margin:5px 10px 5px 5px;
	font-size:0.4em;
	font-weight:normal;
	padding:0 5px;
	line-height:20px;
	color:#000;
}
.music-player-button{
	display:inline-block;
	vertical-align: top;
	width:11px;
	height:10px;
	background:transparent url(../images/play-pause.png) 0 0 no-repeat;
	margin:10px 5px 10px 10px;
}
.music-player-paused .music-player-button{
	background-position:0 -10px;
}
.music-player-title{
	font-family: "Helvetica Neue", sans-serif;
	display: inline-block;
	vertical-align: top;
	font-size: 13px;
	font-weight:bold;
	line-height:30px;
	color:#77c3c3;
	text-shadow: 0px 1px #000;
}