/************************************
 *	GLOBAL TOC
 ************************************/

.global-toc{
	@include background-image(linear-gradient(color-stops(#1a1a1a 80%,#262626)));

	.global-toc-featured-story {
		.x-innerhtml {
			height:340px;
		}
		.global-toc-featured-image {
				position:relative;
				height:100%;
				background-size: cover;
				background-position: center top;
		    	background-repeat: no-repeat;

			div {
				float:left;
				padding:5px 15px;
				@include background-image(linear-gradient(color-stops(rgba(255, 255, 255, .8), rgba(255, 255, 255, 1))));
				color:#222;
				font-family: $base-font;
				font-size:0.85em;
				text-transform:uppercase;
			}
			h2{
				position:absolute;
				color:#fff;
				@include background-image(linear-gradient(color-stops(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.90))));
				padding: 15px 20px;
				font-size: 1.5em;
				width:100%;
				font-family: $base-font;
				font-weight:normal;
				bottom:0;
			}
		}
		.global-toc-featured-content{
			background-color:#000;
			color:#fff;
			line-height:1.6em;
			padding:10px;
		}
		.global-toc-about{
			@include border-radius(5px);
			background-color:#2d2d2d;
			color:#999;
			line-height:1.5em;
			padding:15px 20px;
			margin:15px 0 0 15px;
		}
	}
}


@mixin global-toc($genre, $bg-color1, $bg-color2){
	.global-toc{
		.global-toc-genre-#{$genre}{
			border-right: 1px solid #ccc;
			height: 386px;
			h3{
				@include background-image(linear-gradient(color-stops($bg-color1, $bg-color2)));
				border: 2px solid rgba(255, 255, 255, .5);
				color:#fff;
				font-family: $base-font;
				text-shadow: 0px 1px darken($bg-color2, 20);
				font-size:0.85em;
				text-transform:uppercase;
				padding: 10px;
				text-align: center;
				margin-bottom: 10px;
			}
			p{
				font-size:0.7em;
				padding: 10px 20px
			}
		}
	}
}

@include global-toc('rockPopFolk', rgba(255, 204, 0, 1.0), rgba(255, 167, 0, 1.0));
@include global-toc('classical', rgba(102, 204, 0, 1.0), rgba(102, 171, 32, 1.0));
@include global-toc('jazzBlues', rgba(51, 204, 255, 1.0), rgba(22, 153, 196, 1.0));
@include global-toc('world', rgba(102, 44, 145, 1.0), rgba(57, 16, 87, 1.0));
@include global-toc('hipHopRB', rgba(255, 0, 255, 1.0), rgba(166, 18, 166, 1.0));


/************************************
 *	GENRE TOC
 ************************************/
@mixin genre-toc($genre, $bg-color1, $bg-color2){
	.genre-toc-featured-#{$genre}{
			position:relative;
			height:300px;
			background-size: cover;
			background-position: center top;
	    background-repeat: no-repeat;
			box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
	    h2 {
				position:absolute;
				color:#fff;
				@include border-radius(10px);
				@include background-image(linear-gradient(color-stops(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.70))));
				@include single-box-shadow(rgba(0, 0, 0, .5), 0px, 2px, 2px, 0px, false);
				padding: 15px 20px;
				font-size:1.3em;
				font-family: $base-font;
				bottom:25px;
				right:5px;
	    }
	    h3 {
	    	@include background-image(linear-gradient(color-stops($bg-color1, $bg-color2)));
	    	@include single-box-shadow(rgba(0, 0, 0, .5), 0px, 2px, 2px, 0px, false);
	    	border: 2px solid rgba(255, 255, 255, .5);
	    	position:absolute;
	    	top:10px;
	    	left:0;
	    	color:#fff;
	    	font-size:1.2em;
				padding:20px 40px;
				color: #fff;
				font-size: 1.1em;
				font-family: $base-font;
				text-transform: uppercase; 			
				text-shadow: 0px 1px darken($bg-color2, 20);
	    }
	}

 	.genre-toc-story {
    p {
			font-size: .7em;
			line-height: 1.8em;
			padding: 4px 4px;
	 	}
	 	.genre-toc-story-image-#{$genre} {
 			position:relative;
 			height:200px;
 			background-size: cover;
			background-position: center top;
	    background-repeat: no-repeat;

 		h3 {
	    	@include background-image(linear-gradient(color-stops($bg-color1, $bg-color2)));
				text-shadow: 0px 1px darken($bg-color2, 20);
	    	position:absolute;
	    	bottom: 0px;
	    	left:0;
	    	color:#fff;
	    	font-size: .8em;
	    	font-weight: bold;
	    	height: 76px;
	    	width: 90%;
	    	margin: 0px 0px 10px -5px;
	    	padding: 10px;
				color: #fff;
 		}
 	}
}
}

@include genre-toc('rockPopFolk', rgba(255, 204, 0, 1.0), rgba(255, 167, 0, 1.0));
@include genre-toc('classical', rgba(102, 204, 0, 1.0), rgba(102, 171, 32, 1.0));
@include genre-toc('jazzBlues', rgba(51, 204, 255, 1.0), rgba(22, 153, 196, 1.0));
@include genre-toc('world', rgba(102, 44, 145, 1.0), rgba(57, 16, 87, 1.0));
@include genre-toc('hipHopRB', rgba(255, 0, 255, 1.0), rgba(166, 18, 166, 1.0));