$red-color: #982C2E;

$base-color: #444444;
$base-font: 'nevisBold';
$alt-font: 'JuraRegular';

@import 'sencha-touch/default/all'; 

@include sencha-panel;
@include sencha-buttons;
@include sencha-sheet;
@include sencha-picker;
@include sencha-tabs;
@include sencha-toolbar;
@include sencha-toolbar-forms;
@include sencha-indexbar;
@include sencha-list;
@include sencha-list-paging;
@include sencha-list-pullrefresh;
@include sencha-layout;
@include sencha-carousel;
@include sencha-form;
@include sencha-msgbox;
@include sencha-loading-spinner;

@import 'include/shortcuts';
@import 'include/home';
@import 'include/article';
@import 'include/drawer';
@import 'include/search';
@import 'include/donate';
@import 'include/player';

// include our @font-faces
@import 'include/fonts';